.register-form-container{
    display : flex;
    align-items: center;
    justify-content: center;
    height: 150vh;
}

.Register-form{
    border: 1px solid green;
    padding :30px;
    width : 30%
}

